<html ng-app = "saraApp">
<head>
	<script type="text/javascript" src="../angular.min.js"></script>
	<script type="text/javascript" src="./controller.js"></script>	
</head>
<body>
 	<div ng-controller = "saraCtrl">
 		<div>
			<input type="name" name="name" ng-model="person.name">
 		</div>
 		<div>
			<input type="name" name="name" ng-model="person.age">
 		</div> 		
 		<div>
			<input type="name" name="name" ng-model="person.mail">
 		</div>
<!-- we can do 2 way data bind using ng-bind="ng-model" and {{ng-model}}-->
 		<div ng-bind="person.name">
 
 		</div>
 		<div>
 			{{person.age}}
 		</div> 		
 		<div>
 			{{person.mail}}
 		</div>
 	</div> 		
<body>
</html>