<html ng-app = "saraApp">
<head>
	<script type="text/javascript" src="../angular.min.js"></script>
	<script type="text/javascript" src="./controller.js"></script>	
</head>
<body>
 	<div ng-controller = "saraCtrl">
 		
 		<table>
 			<thead>
 				<tr>
 					<th>s.no</th>
 					<th>Name</th>
 					<th>age</th>
 					<th>mail</th> 			
 					<th>Degree</th>		
 				</tr>
 			</thead>
 			<tbody>
 				<tr ng-repeat="person in persons">
 					<td>
 						{{$index+1}}
 					</td>
 					<td>
 						{{person.name}}
 					</td>
 					<td>
 						{{person.age}}
 					</td>
 					<td>
 						{{person.mail}}
 					</td>
 					<td>
 					<table>	
 						<tr ng-repeat="degree in person.degree">
 							<td>
 								{{$parent.$index+1}}
 								{{$index+1}}
 							</td>
 							<td>
 								{{degree.ug}}
 		 						{{degree.pg}}
 							</td>
 						</tr>
 					</table>	
 					</td>
 				</tr>
 			</tbody>
 		</table>
  	</div> 		
<body>
<style type="text/css">
	table td {
  border: 1px solid black;
    padding: 5px;
}
</style>
</html>